body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/



.topPanel .leftPanel {
    float: left;
}

    .topPanel .leftPanel .form-group {
        margin-bottom: 20px;
    }



    .topPanel .leftPanel .btn {
        border-radius: 9px;
    }


.topPanel .rightPanel {
    margin-left: 700px;
    background-color: lightgray;
    border-radius: 50px;
}

    .topPanel .rightPanel .loan {
        text-align: center;
        padding-top: 20px;
    }


    .topPanel .rightPanel .summary .breakdown .breakdownHeader {
        text-align: center;
        padding-bottom: 10px;
    }


    .topPanel .rightPanel .summary .breakdown {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .topPanel .rightPanel .summary .summary-group {
        text-align: center;
    }


    .topPanel .rightPanel .summary .breakdown .breakdownHeader {
         text-align: center;
    }

       .topPanel .rightPanel .summary .breakdown .payment  {
            margin-bottom: 20px;
        }


        .topPanel .rightPanel .summary .breakdown .payment .month {
            margin-bottom: 10px;
             text-align: center;
        }

       